<div class="container">
<div class="row">
  <div class="col-md-12">
    <app-menu-edit></app-menu-edit>
  </div>
  <hr>
  <ul class="list-group">
    <a class="lis-group-item" *ngFor="let ingredient of ingredients" style="cursor: pointer">
      {{ingredient.name}} ({{ingredient.amount}})
    </a>
  </ul>
</div>
<br class="">
<br class="">
<br class="">
<div class="container-fluid">
<div class="row">
    <section class="fondo"></section>
</div>
</div>
<br class="">
<br class="">
<br class="">
<app-menu-footer></app-menu-footer>
</div>
