.fondo{
    height: 100vh;
    background: url('https://static1.squarespace.com/static/572ac08bb654f9ab18b21d55/572b9ccdb654f95c0053f7c8/5aceba4a1ae6cf7713754853/1523498306678/Types+of+Coffee.jpg?format=2500w');
  
     background-repeat: no-repeat;
     background-size: cover;
    }